{% extends "skel.html" %}
{% block content %}
<div class="grid_16">
    <p>
    <h2>{% trans "Judge team" %}</h2>
    <dl>
        <dt>{% trans "WCA delegate" %}</dt>
        <dd>Adam Joks</dd>
    </dl>
    </p>

    <p>
        <h2>{% trans "Events' main judges" %}</h2>
        <dt>Rubik's Cube</dt>
        <dd>Adam Joks</dd>
        <dt>Rubik's Cube One-handed</dt>
        <dd>Adam Joks</dd>
        <dt>Rubik's Cube Blindfolded</dt>
        <dd>Adam Joks</dd>
        <dt>Rubik's Cube Fewest Moves</dt>
        <dd>Michał Hordecki</dd>
        <dt>2x2x2 Cube</dt>
        <dd>Adam Joks</dd>
        <dt>4x4x4 Cube</dt>
        <dd>Karolina Wiącek</dd>
        <dt>5x5x5 Cube</dt>
        <dd>Adam Joks</dd>
        <dt>6x6x6 Cube</dt>
        <dd>Adam Joks</dd>
        <dt>7x7x7 Cube</dt>
        <dd>Karolina Wiącek</dd>
        <dt>Square-1</dt>
        <dd>Karolina Wiącek</dd>
        <dt>Pyraminx</dt>
        <dd>Karolina Wiącek</dd>
        <dt>Megaminx</dt>
        <dd>Karolina Wiącek</dd>
        <dt>Rubik's Clock</dt>
        <dd>Adam Joks</dd>

        </p>
        <p>
        <h2>Contact</h2>
    {% blocktrans %}In case of any questions, doubts, or just plain curiosity, e-mail us at:{% endblocktrans %}
    <blockquote>
        <p>
            Michal Robaczyk<br />
            <a href="mailto:michalrobaczyk@gmail.com">michalrobaczyk@gmail.com</a>
        </p>
    </blockquote>
    </p>
</div>
{% endblock %}
