{% extends 'skel.html' %}
{% block content %}
    <div class="grid_5"><img src="/media/yo.jpg"/></div>
	<div class="grid_2">&nbsp;</div>
	<div class="grid_9 welcome">
        <h1>{% trans "It's the second edition!" %}</h1>
        <p>
        {% blocktrans %}
        Meet us at Poznań Open 09, where the greatest Polish speedcubers will compete for the trophy of Poznań's Rubik's Cube Champion! Just imagine the sheer speed and blazing emotions this involves! You cannot miss such an event! This year, there's two times the fun - come to VIII Liceum Ogólnokształcące in Poznań, 27-28th of June, 2009!

        {% endblocktrans %}
        </p>
		<p>
        {% trans "Registration starts tommorow, 1st of June!" %}
		</p>
	</div>

	<div class="clear lowspace">&nbsp;</div>

	<div class="grid_4 bar">
        <h1><a href="/venue">{% trans "Venue" %}</a></h1>
        <p>{% trans "Poznań Open 09 is held in really convenient venue - in the very heart of Poznań, near all major transit junctions." %}</p>
        <p class="more"><a href="/venue">{% trans "More.." %}</a></p>
	</div>
	<div class="grid_4 bar">
        <h1><a href="/schedule">{% trans "Schedule" %}</a></h1>
        <p>{% trans "Check out our finalized schedule." %}</p>
        <p class="more"><a href="/schedule">{% trans "More.." %}</a></p>
	</div>
	<div class="grid_4 bar">
        <h1><a href="/gallery">{% trans "Gallery" %}</a></h1>
        <p>{% trans "In the meanwhile, enjoy photos from Poznan Open 08." %}</p>
        <p class="more"><a href="http://picasaweb.google.com/mattheww233/PoznaOpen2008">{% trans "More.." %}</a></p>
	</div>
	<div class="grid_4 bar">
        <h1><a href="/competitors">{% trans "Competitors" %}</a></h1>
        <p>{% trans "See who has registered so far." %}</p>
        <p class="more"><a href="/competitors">{% trans "More.." %}</a></p>
	</div>

{% endblock %}
